/* Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
bacground color #EAE8D3
link color #5E2137
navbar #285172;
*/

:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --black: #000;
  --body-color: #DDD;
  --font-reg: 400;
  --font-bold: 700;
  --link-color: #DE5A51;
  --link-visited: #333333;
  --link-active: #B4D334;
  --nav-list-item: #5E2137;
  --intro-color: #d51a1f;
  --message-form: #f2f2f2;
  --message-form-bg: #333;
  --text-shadow: rgba(0, 0, 0, 0.6);
  --hover-shadow: rgba(0, 0, 0, 0.4);
  --github-color: #dd4b39;
  --linkein-color: #4867AA;
  --facebook-color: #1DA1F2;
  --twitter-color: #1B95E0;
  --grid-item-color: lightgray;
  --button-hover-color: #489c79;
  --button-bg-color: #357b70;
  --button-text-color: #FFF;
  --button-border-bottom: rgba(0, 0, 0, 0.3);
  --sun-zero-color: #edc655;
  --sun-fifty-color: #fcffad;
  --sun-full-color: #f76414;
  --font-family: 'lato', sans-serif;
  --font-standard: 24px;
  --logo-height: 100px;
  --logo-width: 100px;
  
}

a {
  color: var(--primary-color);
}

* {
  box-sizing: border-box;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.logo {
  width: var(--logo-width);
  height: var(--logo-height);
  margin-left: -10px;
  margin-top: -20px;
}

.page-header :last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation_list {
  list-style-type: none;
}

.navigation_list li {
  display: inline-block;
  margin-left: 15px;
}

.main-navigation a
{
    color: var(--black);
    text-decoration: none;
    font: 20px;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

/* Navigation menu animation Top and Bottom borders go out*/
.navigation_list a:before, .navigation_list a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: var(--black);
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.navigation_list a:before {
    top: 0px;
    transform: translateY(10px);
}

.navigation_list a:after {
    bottom: 0px;
    transform: translateY(-10px);
}

.navigation_list a:hover:before, .navigation_list a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}

body {
  background-color: var(--body-color);
  font-family: var(--font-family);
  font-weight: var(--font-reg);
  font-size: 16px;
  line-height: 1.6;
}

.logo h1 {
  font-weight: var(--font-reg);
}

 h1 {
  font-size: 30px;
}

.about {
  text-align: center;
}

h2 {
  font-size: var(--font-standard);
  font-weight: var(--font-reg);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-bold);
}

a {
  color: var(--link-color);
  transition: color .4s;
}

a:visited {
  color: var(--link-visited);
}

a:hover {
  text-decoration: none;
}

a:active {
  color: var(--link-active);
}

a:hover, a:focus {
  text-decoration: none;
}

/* removes all of the underlines on the navigation list */
.navigation_list__item {
  text-decoration: none;
  color: var(--nav-list-item);
}

#intro {
  font-family: var(--font-family);
  font-size: 100%;
  font-weight: var(--bold);
  text-transform: uppercase;
  letter-spacing: 2.5;
  color: var(--intro-color);
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  width: 250px;
  height: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile__footer {
  clear: both;
  text-align: center;
}

.myinfo {
  text-align: center;
}

/* i am not sure if this is a good way to do this */
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container * {
  box-sizing: border-box;
}

.message-form {
  list-style-type: none;
  padding: 0;
}

.message-form {
  max-width: 800px;
  margin-left: 0 auto;
}

.message-form > li:not(:last-child) {
  margin-bottom: 20px;
}

.message-form li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.message-form > li > label {
  flex: 1 0 120px;
  max-width: 220px;
}

.message-form li label {
  padding: 3px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.message-form > li > label + * {
  flex: 1 0 220px;
  border-radius: 3px;
}

.message-form li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: var(--button-bg-color);
  color: var(--message-form);
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.message-form li textarea{
  padding: 3px;
  border: none;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.wrapper i {
  padding: 10px;
  text-shadow: 0px 6px 8px var(--text-shadow);
  transition: all ease-in-out 150ms;
}

.wrapper a:nth-child(1) {
  color: var(--github-color);
}

.wrapper a:nth-child(2) {
  color: var(--linkein-color);
}

.wrapper a:nth-child(3) {
  color: var(--facebook-color);
}

.wrapper a:nth-child(4){
  color: var(--twitter-color);
}

.wrapper i:hover {
  margin-top: -3px;
  text-shadow: 0px 14px 10px var(--hover-shadow);
}

/* grid failsafe */
 .grid__item {
  display: inline-block;
  width: 33%;
 }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-left: 0%;
}

.grid__item {
  position: relative;
  background-color: var(--grid-item-color);
  padding: 10px;
  width: auto;
  border-radius: 25px;
}

.grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

  .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    .about h1 {
        font-size: 20px;
    }

    .animated_svg {
      display: block;
      margin: auto;   
      width: 90%;
      
    }

h1 {
  font-size: var(--font-standard);
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* put syling here */
background-color: var(--button-hover-color);
}

.button, button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid var(--button-border-bottom);
  transition: 0.2s opacity;
  margin-bottom: 20px;
}

@keyframes color-change {
  0% {
    fill: var(--sun-zero-color);
  }

  50% {
    fill: var(--sun-fifty-color);
  }

  100% {
    fill: var(--sun-full-color);
  }
}

.sun {
  animation-duration: 10s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* can be shortened */
/* .sun {
  animation: 4s color-change infinite alternate linear;
} */

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

/* could be shortened like */
/* .cloud-front {
  animation: 30s cloud-move infinite alternate linear;
} */
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.experience {
  text-align: center;
}

.author {
  text-align: center;
}

table.center {
margin-left: auto;
margin-right: auto;
}


/* working on overlay effects  - still not working*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.5);
  transition: opacity 0.5s;
}

.overlay:hover {
  opacity: 1;
}


/* Overlay hover in progress


.overlay#caption .text {

  position: absolute;
  transform: translate(70%, 25%);
  z-index: 10;
  opacity: 0;
  transition: all 0.8s ease;         
}

.overlay#caption .text h1 { 
  font-weight: var(--font-bold);
  font-size: 50px;
  color: var(--button-text-color)
 }

.overlay#caption:hover .text {
  opacity: 1;
  
} */
